@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-title {
  font-family: "Lora", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*  add style to Slate text box */
.slate-editor {
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
}

